{% extends 'base.html' %}
{% block body %}


	<!--display-->
<div >
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner mt-1" >
    <div class="carousel-item active">
    		<a style="text-decoration: none;color:white; font-size: 20px;" href="#">
      <img src="static/images/ship.jpg" class="d-block w-100" alt="shipping" style="height:600px">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color:white">SHIPPING</h4>
        <p style="color:white">At Tej.inc, we offer various affordable shipment methods, geared towards the rapid shipment and delivery of customer vehicles </p> 
      </div>
    </div></a>
    <div class="carousel-item" >
   		<div>
		    		<a style="text-decoration: none;color:white; font-size: 20px;" href="#">
		      <img src="static/images/bently.jpg" class="d-block w-100" alt="auto" style="height:600px">
    	 </div>
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color:white">RELIABILITY</h4>
        <p style="color:white">We make it our mission to sort out top quality vehicles to whithstand the harsh african terrain, our vehicles are thoroughly checked and serviced by qualified personnel before being listed on the site.</p>
      </div><a/>
    </div>
    <div class="carousel-item">
    		<a style="text-decoration: none;color:white; font-size: 20px;" href="#">
      <img src="static/images/merc.png" class="d-block w-100" alt="..." style="height:600px">
      <div class="carousel-caption d-none d-md-block">
        <h4 style="color:white">DIVERSITY</h4>
        <p style="color:white">Browse through our inventory of over a thousand vehicles for sale.</p>
      </div><a/>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

	<!--enddisplay-->

<div align="center" id="Custom search"  class="container  mt-5">
	<h3>WASSAP SEARCH</h3>
</div>
	<!--explore-->
	<div class="row">
	<div class="col-md-8 mt-5">
		<!-- Large button groups (default and split) -->
<!-- Small button groups (default and split) -->
<div>
<div class="btn-group ml-5">
  <button class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manufacturer
  </button>
  <div class="dropdown-menu">
    <option>Toyota</option>
     <option>Honda</option>
      <option>Acura</option>
       <option>Bently</option>
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-info btn-lg" type="button">
    Model
  </button>
  <button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-info btn-lg" type="button">
    Year
  </button>
  <button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-info btn-lg" type="button">
    Type
  </button>
  <button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <option>SUV</option>
     <option>MOTORBIKE</option>
      <option>TRUCK</option>
       <option>SEDAN</option>
  </div>
</div>
<div class="btn-group">
  <button class="btn btn-info btn-lg" type="button">
    Price
  </button>
  <button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    ...
  </div>
</div>
 



</div>
	</div> 	
	<div class="col-md-4 mt-5">
		 <form class="d-flex mr-5">
				        <input class="form-control me-2 " type="search" placeholder="Example:'Toyota Camry 2008' " aria-label="Search">
				        <button class="btn btn-dark" type="submit">Search</button>
	</form>
	</div>
	</div>			
	<!--endexplore-->




<div align="center" id="featured" class="container mt-5">
	<h3>PREMIUM AUTOS</h3>
</div>
	<!--featured-->
		<div class="row">
			<div class="col-md-12">
					<div class=" card-group mt-5">
					  <div class="card ">
					    <img src="static/auto/mo.jpg" class="card-img-top" alt="...">
					    <div class="card-body ">
					      <h5 class="card-title">Toyota Camry</h5>
					       <ul>
					      	<li>Year : 2009</li>
					      	<li>Spec : LE</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 2,500,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
					  <div class="card ">
					    <img src="static/auto/ml.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">Mercedes Benz Ml 350</h5>
					      <ul>
					      	<li>Year : 2008</li>
					      	<li>Spec : AMG</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 3,200,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
					  <div class="card ">
					    <img src="static/auto/coro.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">Toyota corolla</h5>
					       <ul>
					      <li>Year : 2012</li>
					      	<li>Spec : SE</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 3,800,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
</div>

			<!--endcol--></div>
		</div>


	<!--featured-->
		<div class="row">
			<div class="col-md-12">
					<div class=" card-group mt-3">
					  <div class="card ">
					    <img src="static/auto/acc.jpg" class="card-img-top" alt="...">
					    <div class="card-body ">
					      <h5 class="card-title">Honda Accord</h5>
					       <ul>
					      	<li>Year : 2016</li>
					      	<li>Spec : LE</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 6,500,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
					  <div class="card ">
					    <img src="static/auto/sie.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">Toyota Sienna</h5>
					      <ul>
					      	<li>Year : 2008</li>
					      	<li>Spec : LE</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 2,950,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
					  <div class="card ">
					    <img src="static/auto/c300.jpg" class="card-img-top" alt="...">
					    <div class="card-body">
					      <h5 class="card-title">Mercedes Benz C300</h5>
					       <ul>
					      <li>Year : 2013</li>
					      	<li>Spec : AMG</li>
					      	<li>Vin : U708150</li>
					      	<li>Price:&#8358; 5,800,000</li>
					      </ul>
					      <button class="btn btn-danger">BUY NOW</button>
					    </div>
					  </div>&nbsp;
</div>

			<!--endcol--></div>
		</div>
	<!--endfeatured-->

	<!--banner-->
		<div class="row  mt-5">
			<div class="col-md-12">
				<img class="img-fluid mt-3" src=static/images/banner.gif /style="height: 350px; width: 100%">
			</div>
		</div>
	<!--endbanner-->
<div class="row mt-5">
	<div class="col-md-12">
		<div align="center">
				<a href="/explore" class="btn btn-info btn-lg">BROWSE INVENTORY</a>
		</div>
	</div>
</div>

{% endblock body %}

