{% extends 'base.html' %}
{% block body %}

<!--sponsor-->

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card bg-dark text-white">
          <img src="static/images/sponsor.jpg" class="card-img img-fluid" alt="..." style="height:;" >
          <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.4);">
              <div align="center" style="margin:200px">
            <h5  class="card-title" style="color:white">FORD EXPEDITION 2021</h5>
            <p  class="card-text" style="color:white">The 2021 Expedition also features the legendary King Ranch trim, as well as the attention-grabbing Stealth Edition, Texas Edition and available FX4 Off-Road Package. It’s the one and only Ford Expedition and it’s Built Ford Proud.</p>
            <a href="https://www.ford.com/suvs/expedition/?gnav=header-suvs-vhp" style="color:white;text-decoration: none;"  class="btn btn-info">READ MORE<a/>
            
          </div>
      </div>
</div>
    </div>
</div>
<!--endsponsor-->


<!--custom search-->
<div align="center" id="Custom search"  class="container  mt-5">
<h3>CUSTOM SEARCH</h3>
</div>
<!--explore-->
<div class="row">
<div class="col-md-8 mt-5">
<!-- Large button groups (default and split) -->
<!-- Small button groups (default and split) -->
<div>
<div class="btn-group ml-5">
<button class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Manufacturer
</button>
<div class="dropdown-menu">
<option>Toyota</option>
<option>Honda</option>
<option>Acura</option>
<option>Bently</option>
</div>
</div>
<div class="btn-group">
<button class="btn btn-info btn-lg" type="button">
Model
</button>
<button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="sr-only">Toggle Dropdown</span>
</button>
<div class="dropdown-menu">
...
</div>
</div>
<div class="btn-group">
<button class="btn btn-info btn-lg" type="button">
Year
</button>
<button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="sr-only">Toggle Dropdown</span>
</button>
<div class="dropdown-menu">
...
</div>
</div>
<div class="btn-group">
<button class="btn btn-info btn-lg" type="button">
Type
</button>
<button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="sr-only">Toggle Dropdown</span>
</button>
<div class="dropdown-menu">
<option>SUV</option>
<option>MOTORBIKE</option>
<option>TRUCK</option>
<option>SEDAN</option>
</div>
</div>
<div class="btn-group">
<button class="btn btn-info btn-lg" type="button">
Price
</button>
<button type="button" class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="sr-only">Toggle Dropdown</span>
</button>
<div class="dropdown-menu">
...
</div>
</div>





</div>
</div> 	
<div class="col-md-4 mt-5">
 <form class="d-flex mr-5">
                <input class="form-control me-2 " type="search" placeholder="Example:'Toyota Camry 2008' " aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
</form>
</div>
</div>
        

<!--searchtype-->
<div align="center" class="mt-5 mb-5">
<h5>CATEGORIES</h5>
<div class="row">
<div class="col-sm-3">
<a href="#suv" class="btn btn-info">SUVS</a>
</div>
<div class="col-sm-3">
<a href="#sedan" class="btn btn-info">SEDANS</a>
</div>
<div class="col-sm-3">
<a href="#motorbikes" class="btn btn-info">MOTORBIKES</a>
</div>
<div class="col-sm-3">
<a href="#trucks" class="btn btn-info">TRUCKS</a>
</div>
</div>
</div>

<!--endsearchtype-->

<!--banner--
<div class="row">
    <div class="col-md-12">
        <img class="img-fluid mt-3" src=images/banner.gif /style="height: 350px; width: 100%">
    </div>
</div>
<!--endbanner-->


<div align="center" id="#suv" class="container mt-5">
<h3>SUV</h3>
</div>
<!--featured-->
<div > 
<div class="row">
    <div class="col-md-12">
            <div class=" card-group mt-5">
              <div class="card ">
                <img src="static/auto/rav4.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Toyota Rav4</h5>
                   <ul>
                      <li>Year : 2009</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 2,700,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/ml.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes Benz Ml 350</h5>
                  <ul>
                      <li>Year : 2008</li>
                      <li>Spec : AMG</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 3,200,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/greysie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Toyota Sienna</h5>
                   <ul>
                  <li>Year : 2006</li>
                      <li>Spec : XLE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 3,300,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
</div>

    <!--endcol--></div>
</div>
</div>

<div align="center" id="sedan" class="container mt-5">
<h3>SEDAN</h3>
</div>
<!--featured-->
<div class="row">
    <div class="col-md-12">
            <div class=" card-group mt-3">
              <div class="card ">
                <img src="static/auto/acc.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Honda Accord</h5>
                   <ul>
                      <li>Year : 2016</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 6,500,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/matrix.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Toyota Matrix</h5>
                  <ul>
                      <li>Year : 2005</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 1,950,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/c300.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes Benz C300</h5>
                   <ul>
                  <li>Year : 2013</li>
                      <li>Spec : AMG</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 5,800,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
</div>

    <!--endcol--></div>
</div>
<!--endfeatured-->


<div align="center" id="trucks" class="container mt-5">
<h3>TRUCKS</h3>
</div>
<!--featured-->
<div class="row">
    <div class="col-md-12">
            <div class=" card-group mt-3">
              <div class="card ">
                <img src="static/auto/shigh.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Toyota Highlander</h5>
                   <ul>
                      <li>Year : 2007</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 3,500,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/sie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Toyota Sienna</h5>
                  <ul>
                      <li>Year : 2008</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 2,950,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/c300.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes Benz C300</h5>
                   <ul>
                  <li>Year : 2013</li>
                      <li>Spec : AMG</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 5,800,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
</div>

    <!--endcol--></div>
</div>
<!--endfeatured-->


<div align="center" id="motorbikes" class="container mt-5">
<h3>MOTORBIKES</h3>
</div>
<!--featured-->
<div class="row">
    <div class="col-md-12">
            <div class=" card-group mt-3">
              <div class="card ">
                <img src="static/auto/acc.jpg" class="card-img-top" alt="...">
                <div class="card-body ">
                  <h5 class="card-title">Honda Accord</h5>
                   <ul>
                      <li>Year : 2016</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 6,500,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/sie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Toyota Sienna</h5>
                  <ul>
                      <li>Year : 2008</li>
                      <li>Spec : LE</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 2,950,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
              <div class="card ">
                <img src="static/auto/c300.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mercedes Benz C300</h5>
                   <ul>
                  <li>Year : 2013</li>
                      <li>Spec : AMG</li>
                      <li>Vin : U708150</li>
                      <li>Price:&#8358; 5,800,000</li>
                  </ul>
                  <button class="btn btn-danger">BUY NOW</button>
                </div>
              </div>&nbsp;
</div>

    <!--endcol--></div>
</div>
<!--endfeatured-->

{% endblock body %}